.main-div
{
    background: #151a2e;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    z-index: -1000;
    min-height: 100vh;
}

.sub-main-div
{
    padding: 50px;
    animation: appear 0.5s 1 ease-in-out;
}

.data-div
{
    padding: 20px;
    background: #1e2642c9;
    border-radius: 10px;
}

.mt-error
{
    margin-top: 19vh;
}

.form
{
    padding: 5px;
}

h3
{
    font-family: Poppins;
    color: white;
}

.main-button
{
    padding: 8px;
    width: 220px;
    font-size: 18px;
    font-family: Poppins;
    color: white;
    border-radius: 6px;
    background-image: linear-gradient(to right, #FA6DBE, #FA6DA4 );
    border: none;
    animation: appear 0.5s 1 ease-in;
    transition: 0.2s;
}

.main-button:hover
{
    background-image: linear-gradient(to right, #f64bac, #f64287 );
}

.main-button:active
{
    background-image: linear-gradient(to right, #f739a5, #f82a79 );
    transform: scale(0.92);
}

@keyframes appear
{
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
}

.refresh-icon
{
    margin-left: 5px;
}

.rotate
{
    animation: rotate 0.6s ease-in-out infinite;
}

@keyframes rotate
{
    from
    {
        transform: rotate(0deg);
    } to
    {
        transform: rotate(360deg);
    }
}

.loader {
    color: #fff;
    font-size: 8px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }

  .mt-loading
  {
    margin-top: 35vh;
  }




input, label, select
{
    display: block;
}
  
label
{
    color: white;
    font-family: Montserrat;
}

.loader-sub
{
    font-size: 6px !important;
}

.main-input
{
    width: 150px;
    border: 2px solid #FA6DBE;
    outline: #FA6DBE;
    font-size: 16px;
    padding: 5px;
    color: white;
    font-family: Poppins;
    border-radius: 5px;
    background: transparent;
    transition: 0.2s;
}

.main-input:focus,.form-control:focus
{
    box-shadow: 0 0 10px #f764b7 !important;
}

@media (min-width: 200px)
{
    .form-control,.country-list
    {
        width: 150px !important;
    }
}

@media (min-width: 300px)
{
    .main-input
    {
        width: 170px;
    }

    .form-control,.country-list
    {
        width: 170px !important;
    }
}

@media (min-width: 400px)
{
    .main-input
    {
        width: 270px;
    }

    .form-control,.country-list
    {
        width: 270px !important;
    }
}

@media (min-width: 500px)
{
    .main-input
    {
        width: 300px;
    }

    .form-control,.country-list
    {
        width: 300px !important;
    }
}

.form-control 
{
    border: 2px solid #FA6DBE !important;
    outline: #FA6DBE !important;
    font-size: 16px !important;
    color: white !important;
    font-family: Poppins !important;
    border-radius: 5px !important;
    background: transparent !important;
    transition: 0.2s !important;
}

.country-list 
{
    color: white !important;
    font-family: poppins;
    background: #1c233d !important;
}

.country:hover, .country:active, .highlight
{
    background: #45548e !important;
}

.flag-dropdown 
{
    background: transparent !important;
    border: 2px solid #FA6DBE !important;
    outline: #FA6DBE !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.selected-flag:hover, .selected-flag:active
{
    background: transparent !important;
}

.selected-flag:active
{
    box-shadow: 0 0 10px #f764b7 !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #5466ab; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #475591; 
}

option
{
    color: white;
    font-family: poppins;
    background: #3b437c;
    font-size: 17px;
}
